.about {
    width: 100%;
    min-height: 100vh;
    margin-top: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.about h2 {
    font-size: 3.4rem;
    margin-top: 85px;
    position: relative;
    margin-bottom: 35px;
    color: #fff;
}

.about-content {
    width: 90%;
    max-width: 1500px;
    min-height: 0;
    display: flex;
    padding: 25px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-content-row {
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
}

.about-info {
    width: 50%;
    min-height: 100px;
}

.about-info h2 {
    text-align: center;
    padding: 18px 0;
    font-size: 1.6rem;
    color: var(--accent-color);
}

.about-info p {
    padding: 15px 0;
    font-size: 1.2rem;
    color: #fff;
}

.about-picture {
    width: 50%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-picture img {
    width: 500px;
    height: 350px;
}

@media screen and (max-width: 1250px) {
    .about-content-row {
        flex-direction: column;
    }
    .about-info {
        width: 100%;
        margin-bottom: 25px;
    }
    .about-content-row:nth-child(2) {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 700px) {
    .about h2 {
        font-size: 2.8rem;
    }
    .about-info h2 {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 600px) {
    .about-picture img {
        width: 350px;
        height: 250px;
    }
}


@media screen and (max-width: 1200px) {
    .about {
        margin-top: 525px;
    }
}

@media screen and (max-width: 600px) {
    .about {
        margin-top: 1075px;
    }
}